@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

@layer utilities {

  /* ซ่อน Scrollbar สำหรับ Chrome, Safari และ Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* ซ่อน Scrollbar สำหรับ IE, Edge และ Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@import "react-toastify/dist/ReactToastify.css";



@theme {

  --font-primary: 'Prompt', sans-serif;
  --animate-fade-up: fade-up 1s ease-out forwards;

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    font-family: var(--font-primary);
  }
}

.Toastify__toast-container {
  width: 240px !important;
  left: auto !important;
  right: 20px !important;
  top: 20px !important;
  bottom: auto !important;
}

/* 1. Default for PC/Desktop */
.mapboxgl-ctrl-bottom-right {
  bottom: 10px !important;
  right: 10px !important;
  transition: bottom 0.3s ease;
  /* Smoothly moves if you resize the window */
}

/* 2. Mobile Override (Screens smaller than 768px) */
@media (max-width: 767px) {
  .mapboxgl-ctrl-bottom-right {
    /* Lift it up to clear your mobile NavBar */
    bottom: 130px !important;

    /* Optional: Add safe area for iPhones with notches */
    bottom: calc(130px + env(safe-area-inset-bottom)) !important;
  }

  /* Move the Mapbox Logo/Attribution up too so it's not hidden */
  .mapboxgl-ctrl-bottom-left {
    bottom: 130px !important;
  }
}